
@font-face {

    font-family: 'Gotham';

    src: url('gothamlight.eot');

    src: url('gothamlight.eot?#iefix') format('embedded-opentype'),

         url('gothamlight.woff') format('woff'),

         url('gothamlight.ttf') format('truetype'),

         url('gothamlight.svg#gothamlight') format('svg');

    font-weight: 300;

    font-style: normal;

}



@font-face {

    font-family: 'Gotham';

    src: url('gothambook.eot');

    src: url('gothambook.eot?#iefix') format('embedded-opentype'),

         url('gothambook.woff') format('woff'),

         url('gothambook.ttf') format('truetype'),

         url('gothambook.svg#gothambook') format('svg');

    font-weight: 400;

    font-style: normal;

}



@font-face {

    font-family: 'Gotham';

    src: url('gothammedium.eot');

    src: url('gothammedium.eot?#iefix') format('embedded-opentype'),

         url('gothammedium.woff') format('woff'),

         url('gothammedium.ttf') format('truetype'),

         url('gothammedium.svg#gothammedium') format('svg');

    font-weight: 600;

    font-style: normal;



}



@font-face {

    font-family: 'Gotham';

    src: url('gothambold.eot');

    src: url('gothambold.eot?#iefix') format('embedded-opentype'),

         url('gothambold.woff') format('woff'),

         url('gothambold.ttf') format('truetype'),

         url('gothambold.svg#gothambold') format('svg');

    font-weight: 700;

    font-style: normal;

}
