.product_content_wrapper {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    position: relative;
    padding: 0 1px;
    overflow: auto;
    margin-top: 36px;
    padding-top: 1px;
}
ul.product_specs b {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    font-size: 10px;
    pointer-events: none;
    z-index: 2;
    height: 16px;
    position: relative;
    padding-top: 2px;
    padding-left: 4px;
    color: #8b8b8b;
}
div.category_view_product_cell .recommended_product_info {
    position: absolute;
    background: #FFFFFF;
    left: 7px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    right: 7px;
    padding: 5px 12px;
    bottom: 5px;
    width: calc(100% - 18px);
    text-align: center;
}
div#large_product_video {
    margin-bottom: 6px;
    height: 470px;
    overflow: hidden;
}
.small_product_images_wrapper .slick-track {
    min-width: 100%!important;
}
a#confirm-ring {
    height: 39px;
    width: 60%;
    display: block;
    font-family: 'Univers', Arial, sans-serif;
    font-size: 16px;
    background-color: #63A172;
    font-weight: 500;
    vertical-align: top;
    margin-right: auto;
    text-decoration: none;
    line-height: 31px;
    text-align: center;
    font-family: 'Univers', Arial, sans-serif;
    margin-top: 19px;
    margin-left: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.04); */
    padding-top: 6px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    letter-spacing: 0;
    /* border-bottom-color: rgba(0, 0, 0, 0.12); */
    margin-bottom: 20px;
}

div#ring-setting {}
button.slick-prev:after {
    content: '';
    background-image: url(../assets/img/left_arrow_black.png);
    position: absolute;
    left: 0;
    z-index: 100;
    top: 0;
    right: 0;
    background-position: center center;
    bottom: 0;
    background-size: 34%;
    background-repeat: no-repeat;
}
h2#product_id {
    text-align: left;
    display: block;
    color: #110c0e;
    font-family: genath;
    padding-right: 45px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-left: 2px;
    padding-top: 0;
    margin-top: -7px;
}
ul.product_specs li {
    font-weight: 600;
    font-size: 16px;
    font-weight: 500;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    float: left;
}
.recommended_pairing > div > a > div > h1 {
    font-size: 24px;
}.recommended_pairing > div > a > div > h1 {
    font-size: 24px!important;
}
.small_product_images.slick-slide:first-child {
    margin-left: 40px;
}

.small_product_images.slick-slide:last-child {
    margin-right: 40px;
}

.small_product_images_wrapper button.slick-disabled {
    opacity: .2;
    pointer-events: none;
}
.product_page_row .product_details_tab_contents_wrapper .width_45 {
    background: #FFFFFF;
    margin-right: 20px;
    width: calc(50% - 13px);
    box-shadow: none;
}

.product_page_row .product_details_tab_contents_wrapper .width_45:last-child {
    margin-right: 0;
}

.product_content_wrapper a.add_ring {
    height: 27px;
    width: auto;
    display: inline-block;
    font-family: 'Univers', Arial, sans-serif;
    font-size: 13px;
    color: #e0b300;
    -webkit-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    text-align: center;
    float: left;
    font-family: 'Univers', Arial, sans-serif;
    padding: 11px 4px;
    width: auto;
    margin-top: 4px;
    padding-bottom: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #e0b300;
    cursor: pointer;
    background: transparent;
    border-radius: 0px;
    letter-spacing: 0;
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    padding-left: 0;
    padding-right: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a.favorite_product {
    position: relative;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.product_rollover_options.mercury {
    float: left;
    width: 100%;
    display: block;
}

.product_page_row .width_45:after {
    content:'';
    display: table;
    clear: both;
}

.width_45 {}

a.favorite_product p {
    display: inline-block;
    font-family: 'Univers', Arial, sans-serif;
    float: left;
    webkit-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-top: -4px;
}
.recommended_pairing > div:after {
    clear: both;
    content: '';
    display: table;
}

.recommended_pairing > div > a > div > h2:first-child,.recommended_pairing > div > a > div > h1 {
    font-size: 16px;
    line-height: 20px;
    white-space: pre;
    margin-top: 7px;
}

.recommended_pairing > div > a > div > h2:last-child {
    margin-top: -14px;
    font-size: 22px;
    font-family: genath;
    letter-spacing: -.4px;
    font-weight: 100;
}
a.favorite_product:after {
    clear: both;
    content: '';
    display: table;
}

p.mercury.contact_number {
    display: block;
    float: left;
    font-family: genath;
    color: #110C0E!important;
    font-size: 12.5px;
    text-decoration: none;
    font-family: 'Univers', Arial, sans-serif;
    position: relative;
    padding-top: 14px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 12px 15px;
    border: 1px solid rgba(186, 187, 191, 0.25);
    margin-bottom: 9px;
}
.noCertificateMessage {
    background: #FFFFFF;
    max-width: 576px;
    width: calc(100% - 40px);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 55px 62px;
}

.noCertificateMessage h2 {
    font-family: genath;
    font-weight: 100;
    line-height: 27px;
    text-align: center;
    letter-spacing: .6px;
    font-size: 18px;
}
.product_rollover_options.mercury .slash {
    display: inline-block;
    float: left;
    margin: 0 7px;
    margin-top: -4px;
}

.product_rollover_options.mercury {
    font-family: genath;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    top: 0;
    padding-top: 0;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 15px;
}

ul.product_specs:after {
    content: '';
    clear: both;
    display: table;
}

ul.product_specs {
    margin-bottom: 3px;
    margin-left: 0;
}
.ring_setting_option_image {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    height: 100px;
}

.option_box.ring_setting_option {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    width: 31%;
    float: left;
    margin-bottom: 10px;
    border: 2px solid transparent;
    padding-bottom: 5px;
}

.option_box.ring_setting_option input {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.option_box.ring_setting_option.option_box_selected {
    border-color: #110c0e;
}

a.btn_gray p {
    padding: 5px 0px 5px;
    border: 1px solid green;
    text-align: center;
    background-color: lightgrey;
    color: black;
    max-width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Univers', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a.btn_gray {
    text-decoration: none;
}

.product_content_wrapper a.add_ring:hover {color: #000000!important;border-bottom-color: #000000;}

a.add_ring:active {
}
.product_page_row .width_45 {
    padding-left: 40px;
    height: auto;
    padding-right: 30px;
    border: 1px solid rgba(186, 187, 191, 0.25);
    background: rgb(247, 247, 247);
    padding-top: 33px;
    padding-bottom: 33px;
    box-shadow: 0px 2px 3.58px -0.58px rgba(57, 47, 34, 0.13);
    border-radius: 7px;
}
div.category_view_product_cell .recommended_product_info h4.price {
    color: #8E8F92;
    font-family: genath;
    font-weight: 100;
    font-size: 12.5px;
    margin-bottom: 0;
}

div.category_view_product_cell .recommended_product_info h4 {
    font-family: 'Univers', Arial, sans-serif;
    line-height: 15px;
    font-weight: 100;
    font-size: 14.5px;
    margin-bottom: 5px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}
.product_detail_tab:hover {
    color: #484848;
}

a.show_certificate_modal {
    margin-top: 22px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: .4px;
}

.product_page_row .height_55 {
    height: auto;
}


.product_page_row > div {
    height: auto;
}

div#modal_overlay_pdf {
    background: rgba(17, 12, 14, 0.88);
}

.product_content_wrapper a.purchase_btn:hover {
    \: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #8BE19F;
    border-top-color: rgba(132, 132, 132, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

#ring-choices > a.btn_gray:hover {
    background: #63A172;
}

p.ring_creation_hint {
    font-family: 'Univers', Arial, sans-serif;
    font-weight: 500;
    letter-spacing: .15px;
    padding-left: 5px;
    color: #484848;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#ring-choices > a.btn_gray:before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 7px;
    background: #f3f3f3;
    left: -8px;
    display: block;
}

#ring-choices > a.btn_gray:after {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 7px;
    background: #f3f3f3;
    right: -8px;
    display: block;
}

button#confirm-ring {
    height: 39px;
    max-width: 325px;
    display: block;
    font-family: 'Univers', Arial, sans-serif;
    font-size: 16px;
    background-color: #83D496;
    font-weight: 500;
    vertical-align: top;
    margin-right: auto;
    width: 100%;
    text-decoration: none;
    line-height: 31px;
    text-align: center;
    font-family: 'Univers', Arial, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding-top: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    margin-left: auto;
    border-radius: 2px;
    margin-top: 11px;
    letter-spacing: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.option_box.ring_setting_option > p {
    text-transform: uppercase;
    color: #8b8b8b;
    font-weight: 100;
    padding-top: 8px;
}

.option_box.ring_setting_option {}

a.add_ring.add_ring_active:before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 7px;
    background: #f3f3f3;
    left: -8px;
    display: block;
}

.option_box.ring_setting_option.option_box_selected p {
    color: #110c0e;
    font-weight: 600;
}

div#ring-choices .product_customization_dropdown_wrapper {
    display: inline-block;
    float: none;
    text-align: left;
}


a.purchase_btn:active {
    background-color: rgba(77, 144, 122, 0.94);
    border-top-color: rgba(103, 103, 103, 0.08);
    border-bottom-color: rgba(173, 173, 173, 0.22);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: rgba(255, 255, 255, 0.67);
}
ul.product_specs.ring_creation_options {
    width: 100%;
    display: block;
}

ul.product_specs.ring_creation_options li {
    width: auto;
    vertical-align: top;
}

h1.product_price.product_price_confirm_view {
    font-size: 25px;
    color: #A1A2A5;
    margin-bottom: 23px;
}
.product_page_promise h1 em {
    position: relative;
}

.product_page_promise h1 em b {
    font-weight: 500;
    border-bottom: 2px solid #110c0e;
}
.product_page_promise h1 em:after {
        background-image: url(../assets/img/quote_icon.png);
        background-size: contain;
        width: 23px;
        height: 23px;
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
        position: absolute;
        vertical-align: top;
        background-repeat: no-repeat;
        bottom: 12px;
        right: -29px;
        content:'';
        transform: scaleX(-1);
}

em {}
h1.product_name {
    font-family: 'Univers', Arial, sans-serif;
    border-bottom: 1px solid rgba(186, 187, 191, 0.55);
    padding-top: 0;
    letter-spacing: 1px;
    display: block;
    margin-top: 1px;
    font-weight: 100;
    margin-bottom: 3px;
    line-height: 30px;
    font-size: 27px;
    text-transform: uppercase;
    padding-bottom: 11px;
    padding-right: 0;
    word-wrap: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.customization_dropdown_box li:first-child {
    font-size: 9px;
    background: transparent!important;
}
.recommended_pairing {
    text-align: center;
    display: block;
    float: left;
    margin-top: 59px;
    width: 100%;
    background: rgba(255,255,255,.5);
    border-right: 1px solid rgba(186, 187, 191, 0.2);
    border-radius: 3px;
    border-left: 1px solid rgba(186, 187, 191, 0.2);
    border-bottom: 1px solid rgba(186, 187, 191, 0.2);
}

.recommended_pairing > h2 {
    border-top: 1px solid rgba(186, 187, 191, 0.2);
    line-height: 0;
    margin-bottom: 11px;
    border-radius: 3px;
}

h2 {}

.recommended_pairing > h2 > span {
    background: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #8b8b8b;
    position: relative;
    padding-left: 9px;
    font-weight: 100;
    padding-right: 9px;
    position: relative;
    top: -4px;
    background-image: linear-gradient(180deg,#f3f3f3 0%, rgba(255,255,255,0.5) 100%);
}

.recommended_pairing > div > a > div {
    float: left;
    display: inline-block;
    text-transform: uppercase;
    color: #110c0e;
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 12px;
    text-align: left;
    line-height: 68px;
    width: auto;
    vertical-align: top;
}

.recommended_pairing > div {
    display: inline-block;
    width: auto;
    margin: 22px auto;
}

.recommended_pairing > div > a {}

.recommended_pairing > div > a > img {
    float: left;
    display: inline-block;
    width: 70px;
}
ul.product_specs > h5 {
    margin-left: -6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 100;
    margin-top: -16px;
    font-size: 10px;
    margin-bottom: 11px;
}


h1.product_price {
    font-family: genath;
    font-weight: 100;
    letter-spacing: -.55px;
    color: #110c0e;
    font-size: 16px;
    display: block;
    padding-top: 9px;
    text-align: left;
    font-size: 25px;
    padding-bottom: 7px;
}

.small_product_images_wrapper button.slick-prev,.small_product_images_wrapper button.slick-next {
    position: absolute;
    top: 10px;
    bottom: 0px;
    height: auto;
    width: 33px;
}

.small_product_images_wrapper.slick-slider {
    position: relative;
    margin-top: 7px;
}

.small_product_images_wrapper button.slick-prev {
    left: 0;
    background: -webkit-linear-gradient(90deg,#f3f3f3, rgba(243, 243, 243, 0));/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg,#f3f3f3, rgba(243, 243, 243, 0));/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg,#f3f3f3, rgba(243, 243, 243, 0));/* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg,#f3f3f3, rgba(243, 243, 243, 0));/* Standard syntax */
}

.small_product_images_wrapper button.slick-next {
    right: -1px;
    background-color: transparent;
    z-index: 100;
    background: -webkit-linear-gradient(-90deg,#f3f3f3, rgba(243, 243, 243, 0));
    background: -o-linear-gradient(-90deg,#f3f3f3, rgba(243, 243, 243, 0));
    background: -moz-linear-gradient(-90deg,#f3f3f3, rgba(243, 243, 243, 0));
    background: linear-gradient(-90deg,#f3f3f3, rgba(243, 243, 243, 0));
}
.product_content_wrapper a.buy_product:after {content: '';background-image: url(../assets/img/left_arrow.png);}
#ring-choices > a.btn_gray {
    position: absolute;
    top: -14px;
    right: 115px;
    border-radius: 2px;
    padding: 0 9px;
    background-color: #83D496;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    letter-spacing: 0;
    outline: 0;
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.product_details_tab_content .width_33.width_66 {
    width: 66%;
}
a.favorite_product:hover p {
    color: #e0b300;
}
.product_details_tab_content .width_33.width_66 > div > div {
    width: 50%;
    display: inline-block;
    float: left;
}

.indented_for_substones:after {
    clear: both;
    content: '';
    display: table;
}
#ring-choices > a.btn_gray p {
    background: transparent;
    color: #FFFFFF;
    border: 0;
    margin: 0;
    font-size: 12px;
    padding-top: 1px;
    text-transform: uppercase;
    padding-bottom: 0px;
    font-weight: 400;
}
div.product_description h2 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: normal!important;
    color: #8b8b8b;
    font-weight: 100;
    font-family: 'Univers', Arial, sans-serif;
    text-decoration: none!important;
    margin-top: 12px;
    margin-bottom: -3px;
}

div.product_description h2 big {
    text-decoration: none!important;
}

div.product_description ul {
    margin-bottom: -4px;
    font-family: genath;
}

div.product_description h2 small {
    text-decoration: none!important;
    font-weight: bold;
}

div.product_description h2 ins {
    text-decoration: none!important;
}
#ring-choices > a.btn_gray:hover {
}

#ring-setting.custom_ring_settings_row {
    padding-left: 0px;
    margin-bottom: 16px;
    text-align: left;
}

div.product_description {
    font-family: genath;
    font-size: 16px;
    max-width: 100%;
    letter-spacing: .33px;
    line-height: 22px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    padding-bottom: 6px;
    /* border-bottom: 1px solid rgba(186, 187, 191, 0.55); */
    margin-bottom: 22px;
}

ul.product_specs .product_customization_dropdown_wrapper,.create_ring_column_details .product_customization_dropdown_wrapper{
    border: 1px solid #babbbf;
    background-color: #fafafa;
    width: auto;
    margin-bottom: 12px;
    background-image: url(../assets/img/down_chevron.png);
    cursor: pointer;
    background-repeat: no-repeat;
    padding: 0 48px 0 53px;
    background-position: 95% 50%;
    outline: none;
    background-size: 10px;
    white-space: nowrap;
    z-index: 0;
    margin-top: -22px;
    text-overflow: ellipsis;
    height: 36px;
    font-family: 'Univers', Arial, sans-serif;
    border-radius: 0!important;
    -webkit-appearance: none!important;
    display: inline-block;
    position: relative;
    float: left;
    border-radius: 3px!important;
    vertical-align: top;
    margin-left: -6px;
}

.product_customization_dropdown_wrapper label {
    display: inline-block;
    /* float: left; */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 6px 8px 7px 10px;
    color: #484848;
}
div#large_product_image.large_product_image_full_width {
    width: 100%!important;
    background-size: contain!important;
    background-repeat: no-repeat;
    margin-bottom: 6px;
    height: 470px;
}

a.add_ring.add_ring_active {
    background: -webkit-linear-gradient(to bottom,rgba(245, 245, 245, 0.65) 0,rgba(229, 229, 229, 0.47) 100%)!important;
    box-shadow: 0 1px 0 0 rgba(195, 195, 195, 0.46),1px 0px 0 0 rgba(195, 195, 195, 0.3),-1px 0px 0 0 rgba(195, 195, 195, 0.3),0px -1px 0 0 rgba(220, 220, 220, 0.29)!important;
    background: linear-gradient(to bottom,#FFFFFF 0,#fafafa 100%)!important;
    color: #8b8b8b!important;
    padding: 0px 12px 0px!important;
    z-index: 100;
    cursor: pointer;
    width: 90px;
    text-shadow: none!important;
    position: relative;
    min-width: 90px;
    margin-top: 5px;
    border: 0;
    height: 27px;
    font-size: 12px!important;
    border-radius: 2px;
    float: right;
    -webkit-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}
.view_certificate_btn_label > b > span {
    letter-spacing: 1px;
}
.small_product_video_thumb.active_product_image {
    border: 1px solid rgb(121, 208, 180);
}
.small_product_images.small_product_video_thumb {
    position: relative;
}
.small_product_images.small_product_video_thumb span {content: '';background-image: url(../assets/img/playBtn.png);position: absolute;top: 50%;left: 50%;margin-top: -22px;margin-left: -22px;display: block;background-size: 100%;width: 44px;height: 44px;background-repeat: no-repeat;z-index: 10;}

.small_product_images.small_product_video_thumb video {
}
div#ring-choices .agd_row > label {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
    background: #f3f3f3;
    position: relative;
    letter-spacing: .15px;
    text-align: left;
    padding-left: 4px;
    padding-right: 6px;
    top: -12px;
    left: 0;
}

#ring-choices > a.btn_gray:hover {
}

div#ring-choices {
    margin-top: 19px;
    position: relative;
    border-top: 1px solid #dbdbdb;
    margin-right: 0;
    text-align: center;
    margin-left: -45px;
}
span.selected_customization {
    margin-top: 7px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    float: right;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .3px;
    width: 101px;
    padding-right: 14px;
}

.product_content_wrapper a.purchase_btn:active {
    background-color: #73BB84;
    border-top-color: rgba(103, 103, 103, 0.08);
    border-bottom-color: rgba(173, 173, 173, 0.22);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12) inset;
}

.product_content_wrapper a.purchase_btn {
    height: 39px;
    width: 46%;
    display: inline-block;
    font-family: 'Univers', Arial, sans-serif;
    font-size: 16px;
    background-color: #83D496;
    float: left;
    font-weight: 500;
    vertical-align: top;
    margin-right: 4%;
    text-decoration: none;
    line-height: 31px;
    text-align: center;
    font-family: 'Univers', Arial, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding-top: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 2px;
    letter-spacing: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.small_product_images_wrapper button.slick-next:after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 100;
    top: 0;
    right: 0;
    background-position: center center;
    bottom: 0;
    background-image: url(../assets/img/right_arrow_black.png);
    background-size: 34%;
    background-repeat: no-repeat;
}

.customization_dropdown_box {
    display: none;
    padding: 8px 0 6px;
    position: absolute;
    left: -1px;
    z-index: 100;
    max-height: 240px;
    right: 20%;
    overflow: scroll;
    width: 101%;
    top: 112%;
    background-color: #fafafa;
    border: 1px solid #110c0e;
}
.active_dropdown_box.customization_dropdown_box{
    display:block;
}
.customization_dropdown_box:after, .customization_dropdown_box:before {
    bottom: 100%;
    left: 22%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.customization_dropdown_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}
.small_product_images_wrapper .slick-list {
    height: 104px!important;
}
.customization_dropdown_box:before {
    border-color: rgba(17, 12, 14, 0);
    border-bottom-color: #110c0e;
    border-width: 10px;
    margin-left: -10px;
}
.customization_dropdown_box li {
    padding: 5px 12px 5px;
    font-size: 12px;
    line-height: 17px;
    white-space: normal;
    overflow: overlay;
    text-overflow: ellipsis;
    color: #8b8b8b;
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.customization_dropdown_box li.selected,.customization_dropdown_box li:hover {
    background-color: #eaeaea;
    color: #110c0e;
}
.product_detail_tab.width_33.product_detail_tab_active[data-product_tab="promise"] {
    padding-bottom: 5px;
}
.product_customization_dropdown_wrapper.product_customization_dropdown_wrapper_metal {
    width: 202px;
}

.product_customization_dropdown_wrapper.product_customization_dropdown_wrapper_size {
    width: 166px;
}

.small_product_images {
    /* width: 120px!important; */
    /* height: 100%; */
    height: 100%!important;
    margin-right: 5px;
    overflow: hidden;
}

.small_product_images .width_20 {
    height: 100px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 4px;
    background: #FFFFFF;
}

.small_product_images .width_20 .small_product_image {
    width: 100%;
    cursor: pointer;
    height: 100%;
    background-size: 86%;
    background-position: center center;
    border-top: 1px solid rgba(186, 187, 191, 0.22);
    border-left: 1px solid rgba(186, 187, 191, 0.22);
    border-right: 1px solid rgba(186, 187, 191, 0.22);
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(186, 187, 191, 0.22);
    float: left;
    background-color: #fafafa;
}

.small_product_images .width_20 .small_product_image img {
    display: none;
}

.small_product_image.active_product_image {
    border-color: #e0b300!important;
}

.product_page_row {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.width_55 .large_product_image {
    background-position: center center;
    background-size: 83%;
    width: 
    
    
    
    
    
    
    
    
    
    
    -webkit-calc(100% - 124px);
    width: 
    
    
    
    
    
    
    
    
    
    
    -moz-calc(100% - 124px);
    width: calc(100% - 81px);
    background-repeat: no-repeat;
    height: 410px;
    box-shadow: 0 0 0 1px rgba(186, 187, 191, 0.23);
    background-color: #ffffff;
}

.width_55 .large_product_image img {
    display: none;
}

.width_33 {
    width: 33%;
    float: left;
    display: inline-block;
}

.product_detail_tab {
    background: #e5e5e5;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 0 5px;
    border: 1px solid transparent;
    letter-spacing: 1px;
    color: #8e8e8e;
    cursor: pointer;
    font-weight: 500;
    top: 1px;
    position: relative;
    max-width: 225px;
    -webkit-transition: background 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: background 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: background 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: background 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: background 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    box-shadow: 0 -1px rgba(186, 187, 191, 0.12) inset;
}

.product_detail_tab.product_detail_tab_active {
    top: 1px;
    color: #110c0e!important;
    box-shadow: none;
    padding-bottom: 6px;
    cursor: default;
    background: #f9f9f9!important;
    border-bottom-color: #f9f9f9!important;
    border-left: 1px solid rgba(186, 187, 191, 0.2);
    border-top-color: rgba(255, 255, 255, 0.51);
    border-right-color: rgba(186, 187, 191, 0.2);
}

.product_details_tabs {
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
}
.product_detail_tab > p {
    -webkit-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 120ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}
.product_details_tab_contents_wrapper {
    background-color: #f9f9f9;
    overflow: auto;
    position: relative;
    top: -2px;
    padding: 25px 16px;
    border-top: 1px solid rgba(186, 187, 191, 0.2);
    border-right: 1px solid rgba(186, 187, 191, 0.2);
    border-left: 1px solid rgba(186, 187, 191, 0.2);
    margin-top: 40px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(186, 187, 191, 0.2);
}

.product_tab_content {
    text-align: left;
    display: none;
}

.product_tab_content h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
}

.product_tab_content h8 {
    display: block;
    font-size: 14px;
    letter-spacing: .4px;
    font-weight: 600;
    padding: 4px 0;
}

.product_tab_content h8 b {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #8b8b8b;
    letter-spacing: -.1px;
    padding-right: 5px;
}

p.genath.contact_number {
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    color: #110c0e;
    color: #999;
    letter-spacing: .5px;
    font-weight: 500;
}

.product_page_row.category_page_content_wrapper {
    position: relative;
    margin-top: 8px!important;
    /*display: none;*/
}

.recommended_products_slick_wrapper.slick-initialized.slick-slider {
    padding: 0 40px;
    padding-top: 6px;
}

h3.recommended_header {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 4px;
}
.product_tab_content.active_product_tab_content {
    display: block;
}
h3.recommended_header a {
    font-size: 14px;
    float: right;
    font-weight:  500;
    color: #999;
    cursor: pointer;
    -webkit-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-right: 0px;
}

.category_view_product_cell.slick-slide {
    margin-right: 12px;
}

a.view_collection:hover {
    color: #110c0e;
}

.recommended_products_slick_wrapper button.slick-prev,.recommended_products_slick_wrapper button.slick-next {
    height: 190px!important;
}

.product_page_promise {
    width: 70%;
    display: inline-block;
    padding-top: 12px;
    float: left;
    font-family: genath;
    padding-left: 33px;
    padding-right: 24px;
    padding-bottom: 12px;
}

.product_page_promise_details {
    float: left;
    width: 30%;
    padding-left: 24px;
    display: inline-block;
    line-height: 26px;
    border-left: 1px solid #babbbf;
    padding-top: 7px;
    padding-bottom: 36px;
}

.product_page_promise h1 {
    line-height: 41px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: .4px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.product_page_promise .promise_statements.genath {
    display: inline-block;
    width: 80%;
    padding-left: 14px;
    padding-top: 24px;
}

@media screen and (max-width:1080px){
    .product_page_row .width_45{
        padding-left:36px;
    }
    div#ring-choices{
        margin-left: -12px;
    }
    a.add_ring.add_ring_active{
    margin-top: -39px;
}
    #ring-choices > a.btn_gray{
    right: 0;
}
}

@media screen and (max-width:880px){
    .product_customization_dropdown_wrapper{
        float:none;
    }
    .product_content_wrapper a.purchase_btn{
        font-size: 14px;
        padding-top:5px;
    }
    .product_content_wrapper a.add_ring{
         font-size: 13px;
         padding-top: 1px;
    }
}

@media screen and (max-width:790px){
    .width_55 .large_product_image{
        width:100%;
        float:none;
    }
    .small_product_images{
        width:100%!important;
        height:120px!important;
        margin-top:4px!important;
    }
    .small_product_images .width_20{
        width:30%!important;
        margin-right:4px!important;
    }
}

@media screen and (max-width:690px){
    ul.product_specs li:nth-child(even){
    margin-left: 0;
    float: left;
}
    ul.product_specs li{
    width: calc(50% - 20px);
    margin-left: 40px;
}
    .ring_setting_option_image{
        background-position:center center;
    }
    icon.big_green_quotation_marks{
        height: 43px;
        width: 36px;
    }
    .product_page_promise_details{
    width: 100%;
    border: 0;
    text-align: left;
    padding-left: 10px;
}
    .product_page_promise{
        width:100%;
        padding-right: 0;
    }
    .product_page_promise .promise_statements.genath h1{
        font-size:19px!important;
        line-height: 30px;
    }
    .product_page_promise .promise_statements.genath{
    padding-top: 12px;
}
    .product_detail_tab{
        font-size: 12px;
        width: auto!important;
        padding-left: 13px;
        padding-right: 13px;
    }
    .product_tab_content .width_33{
        width: 100%!important;
        margin-bottom: 15px;
        text-align: left;
    }
    .product_tab_content .width_33 > div > div{
    width: 100%!important;
    float: none!important;
}
    .product_page_row .width_45{
        width: 97%;
        float: none;
        padding: 0;
        display: block;
        margin: 0 auto;
        margin-top: 28px;
    }
    .product_page_row .width_55{
        width: 97%;
        float: none;
        margin: 0 auto;
        display: block;
    }
}